# ignore all files below
*.class
.gitkeep
.classpath
.project
*.prefs
*.iml

# ignore all files under below folders
*/bin/
*/target/
/RemoteSystemsTempFiles/
/Servers/
/.metadata/
/.recommenders/
/.idea/
*/.settings/